/* Variables */
:root {
    --nat-blue: #1f3767;
    --nat-black: #141414;
    --nat-my: 2rem;
    --nat-col: 680px;
    --nat-col-l: 1080px;
    --nat-font-pri: 'PT Serif', serif;
    --nat-font-sec: tiempos, serif;
    --nat-font-ter: adelle, sans-serif;
    font-size: 16px;
}


/* Special links */
.natlab {
    font-family: var(--nat-font-pri);
    font-size: 18px;
    scroll-behavior: smooth;
    cursor: default;
	line-height: 1.4;
	word-break: break-word;
}
.natlab a {
    position: relative;
    text-decoration: none;
    color: inherit;
}
.natlab a:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 1px;
    height: 2px;
    width: 100%;
    background-color: var(--nat-blue);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}
.natlab a:hover:before {
    width: 0;
}
.natlab a.nodec::before {
    display: none;
}

/* Top nav */
.natlab.nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: .8rem;
}
.natlab.nav__back a {
    color: white;
    line-height: 1;
}
.natlab.nav__back svg {
    width: 38px;
}
.natlab.nav__back svg > * {
    fill: none;
    stroke: white;
    stroke-width: 2px;
}
.natlab.nav a::before {
    display: none;
}
.natlab.nav__logo svg {
    width: 28px;
}

/* Structure */
.natlab .section {
    background: white;
}
.natlab .col {
    margin: var(--nat-my) auto;
    padding: 1px 1rem;
    width: var(--nat-col);
    max-width: 100%;
}
.natlab .col--l {
    width: var(--nat-col-l);
    padding: 1px 0;
}
.natlab .col--full {
    width: 100%;
    padding: 1px 0;
}
.natlab .col--split {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.natlab .col--split > div {
    width: calc(50% - 1rem);
}

/* Story */
.natlab .story {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-top: 100vh;
}
.natlab .story__background {
    background: #f7f7ff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    opacity: 0;
    padding: 1rem;
    margin-top: -100vh;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
    visibility: hidden;
    -webkit-box-ordinal-group: 0;
    order: -1;
}
.natlab .story__background[data-story-state="next"],
.natlab .story__background[data-story-state="active"],
.natlab .story__background[data-story-state="prev"] {
    visibility: visible;
}
.natlab .story__background[data-story-state="active"],
.natlab .story__background[data-story-state="prev"] {
    opacity: 1;
}
.natlab .story__background[data-story-state="next"],
.natlab .story__background[data-story-state="active"] {
    will-change: opacity;
}
.natlab .story__background video,
.natlab .story__background img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.natlab .story__background video {
    object-fit: cover;
}
.natlab .story__trigger {
    z-index: 100;
    opacity: .5;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 45vh 1rem;
    max-width: 600px;
    margin: 0 auto;
}
.natlab .story__trigger:nth-child(2) {
    margin-top: -50vh;
}
.natlab .story__trigger:last-of-type {
    padding-bottom: 100vh;
}
.natlab .story__trigger[data-story-state="active"] {
    opacity: 1;
}
.natlab .story__trigger > div {
    padding: 1rem;
    color: white;
    font-family: var(--nat-font-ter);
    text-align: center;
}
.natlab .story__trigger > div > div {
    background: var(--nat-black);
    padding: 1.5rem 2rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-align: center;
    padding: 4px 9px 6px;
    display: inline;
    line-height: 1.7;
}

/* Content */
.natlab .meta {
    font: .85rem var(--nat-font-ter);
    margin: 3rem 0;
    text-align: center;
    width: 100%;
}
.natlab .meta__byline {
    margin-bottom: 1.5rem;
}
.natlab .meta__author {
    margin-bottom: .2rem;
}
.natlab .leadin {
    margin-bottom: 2rem;
    font: 1.55rem/1.4 var(--nat-font-sec);
    text-align: center;
    font-weight: 100;
}
.natlab p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #333;
    margin: 1rem 0;
}
.natlab h2 {
    font-family: var(--nat-font-ter);
    font-size: 1.1rem;
    margin-top: 2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.natlab .break {
    margin: 4rem auto;
    width: 33%;
}
.natlab .break path {
    fill: none;
    stroke: var(--nat-blue);
    stroke-width: 2px;
}
.natlab figure {
    margin: var(--nat-my) auto;
}
article.natlab img {
    width: 100%;
    display: block;
}
.natlab figcaption {
    margin-top: .4rem;
    font: .85rem var(--nat-font-ter);
}
.natlab .portrait {
    position: relative;
    width: 100%;
    margin: 4rem 0;
}
.natlab .portrait__sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    float: right;
}
.natlab .portrait__profile {
    padding: 0 2rem;
    width: 300px;
    background: white;
    font-family: var(--nat-font-ter);
    margin-right: -120px;
}
.natlab .portrait__wave {
    width: 32px;
    margin-bottom: 1rem;
}
.natlab .portrait__wave path {
    fill: none;
    stroke: var(--nat-blue);
    stroke-width: 2px;
}
.natlab .portrait__name {
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .5rem;
}
.natlab .portrait__info {
    font-size: .9rem;
}
.natlab .portrait__info div {
    margin-bottom: .3rem;
}
.natlab .portrait__video {
    width: 440px;
}

/* Footer */
.natlab footer {
    padding: 3rem 1rem;
    background: rgb(29, 29, 29);
    color: white;
    font-size: .9rem;
    font-family: var(--nat-font-ter);
}
.natlab .footer__logo {
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.natlab .footer__logo img {
    width: 200px;
}
.natlab .footer__meta > div {
    margin-bottom: 1rem;
}
.natlab .footer__meta img {
    display: inline-block;
    width: 50px;
}

/* Mapbox */
.natlab #map {
    width: 100%; 
    height: 600px;
    max-height: 100vh;
}
.natlab #map a:before {
    display: none;
}

/* Locked */
.natlab .locked {
    background: #000000b0;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    display: none;
}
.natlab .locked__modal {
    width: 480px;
    max-width: 100%;
    padding: 3rem 3.3rem 2.2rem;
    background: black;
    color: white;
}
.natlab .locked__modal h2 {
    margin-top: 0;
}
.natlab .locked__modal p {
    color: white;
    font-family: 'adelle';
    font-size: .95rem;
}

@media screen and (max-width: 480px) {
    article.natlab {
        font-size: 16px;
    }
    .natlab .header__title {
        max-width: 90%;
    }
}
@media screen and (max-width: 680px) {
    .natlab footer {
        text-align: center;
        padding: 3rem;
    }
    .natlab .col--split > div {
        width: 100%;
    }
    .natlab .col--expand {
        padding: var(--nat-my) 0;
    }
    .natlab .col figure {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .natlab .col figcaption {
        padding: 0 1rem;
    }
    .natlab .story__background {
        padding: 0;
    }
    .natlab .story__background img {
        object-fit: cover;
    }
    .natlab .story--contain .story__background img {
        object-fit: contain;
    }
    .natlab .rightbottom-small {
        object-position: right bottom !important;
    }
}
@media screen and (min-width: 680px) {
    .natlab .centertop-big {
        object-position: center top !important;
    }
}
@media screen and (max-width: 900px) {
    .natlab .portrait__sticky {
        position: static;
        float: unset;
        padding: 0 2.5rem 2rem 16px;
    }
    .natlab .portrait__profile {
        position: relative;
        padding: 0;
        padding-left: 2rem;
        border-left: 1px solid var(--nat-blue);
    }
    .natlab .portrait__profile::before {
        content: url(../images/down-caret.svg);
        bottom: -1px;
        left: -16px;
        position: absolute;
        width: 31px;
        height: 31px;
    }
    .natlab .portrait__wave {
        display: none;
    }
}
@media screen and (max-width: 1120px) {
    .natlab .col figcaption {
        padding: 0 1rem;
    }
}

/* fonts */
@font-face {
    font-family: 'tiempos';
    src: url('../fonts/Tiempos-Headline-Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'adelle';
    src: url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'adelle';
    src: url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://tunmedia.s3.us-east-2.amazonaws.com/nationen_static/font/Adelle+Sans+webfontkit/adellesans_regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}